<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
    </style>
    {% endblock %}
</head>
<body>
    <div id="content" class="center">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2022 by <a href="http://patf.net/">Some dude</a>.
        {% endblock %}
    </div>
</body>
</html>
