<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>The Farrellel Postulate</title>
    <style>
    </style>
    {% endblock %}
</head>
<body>
    <div class="container">
    <div class="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <!--<li><a href="about_me.html">About Patf</a></li>-->
        <li><a href="https://github.com/pfarrell" target="_">Github</a></li>
        <li><a href="PatrickFarrellResume2022.pdf" target="_">Resume</a></li>
      </ul>
    </nav>
    </div>
    {% block content %}{% endblock %}
    <div id="footer" class="center">
        &copy;2022 by <a href="http://patf.net/">patf.net</a>.
    </div>
</body>
</html>
