<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
    </style>
    {% endblock %}
</head>
<body>
    <div class="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
      </ul>
      <ul>
        <li><a href="PatrickFarrellResume2022.pdf" target="_">Resume</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="banner">
        <h1>The Farrellel Postulate</h1>
      </div>
    {% block content %}{% endblock %}
    <div id="footer" class="center">
        &copy;2022 by <a href="http://patf.net/">CantankerousWalrus Software</a>.
    </div>
    <div>
</body>
</html>
