{% extends "base.html" %}
{% block content %}
  <div class="banner">
    <h1>The Farrellel Postulate
    <h5>projects and thoughts of a developer in the ether</h5>
    </h1>
  </div>
  <main class="grid">
  {% for post in posts %}
  <article class="">
    <img src="{{ post.image }}" />
    <div class="text">
      <h3>{{ post.title }}</h3>
      <p>
        {{ post.summary }}
      </p>
      {% if 'projectLink' in post %}
      <p><a class="btn-default" href="{{ post.projectLink }}" target="_">See it In Action!</a><p>
      {% endif %}
      <a class="btn-default" href="{{ post.date }}-{{ post.kebab}}.html">Read More</a>
    </div>
  </article>
  {% endfor %}
  </main>
{% endblock %}


