{% extends "base.html" %}
{% block content %}
  <div class="banner">
  </div>
  <main class="grid">
  {% for post in posts %}
    <a class="card-link" title="{{ post.title}}" href="{{ post.date }}-{{ post.kebab}}.html">
      <article class="">
        <img src="{{ post.image }}" />
        <div class="text">
            <h3>{{ post.title }}</h3>
            <p class="summary">
              {{ post.summary }}
            </p>
        </div>
      </article>
    </a>
  {% endfor %}
  </main>
{% endblock %}


