{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <div class="content">
      <div class="banner">
        {% if title|length > 25 %}
          {% set titleClass = 'shrunk' %}
        {% else %}
          {% set titleClass = 'full' %}
        {% endif %}
        <h1 class="{{ titleClass }}">{{ title }}</h1>
        <div class="bottom">
          <p class="article-date">{{ date }}</p>
        </div>
      </div>
      <hr />
      <div class="important">
      {% markdown %}
        {{ content|safe }}
      {% endmarkdown %}
      </div>
    </div>
{% endblock %}


