

body {
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.container {
  width: 32ch;
  margin-left: auto;
  margin-right: auto;
}

h1 { font-size: 45px;}
h2 { margin-top: 0px; font-size: 40px;}

canvas { 
  border: 2px solid #374343; 
}


.banner > h1 {
  width: 100%;
  letter-spacing: 4px;
}

.banner > h5 {
  margin-top: -30px;
  font-style: italic;
}

.title {
  font-size: 2.5em;
  text-align: center;
}

a {
  color: #279995;
}

.btn-default {
  background-color: #EEEEEE;
  padding: 8px 20px;
  text-decoration:none;
  font-weight:bold;
  border-radius:5px;
  cursor:pointer;
}

li {
  margin-bottom: 0 1em 1em 1em;
}

p {
  margin-bottom: 1.5em;
}

.nav { 
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  display: block;
}

.nav a {
  text-align: center;
}

#footer {
  margin: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px;
  max-width: 280px;
}

.grid .text {
  padding:1em;
  text-align: left;
}

.grid > article img {
  max-width: 100%;
  max-height: 160px;
  vertical-align: middle;
}

.grid .text {
  padding: 20px;
}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, minmax(280px, 1fr)); }
  .container { width: 66ch; margin-left: auto; margin-right: auto; }
  .banner { margin: 1em; text-align: center;}
  h1 { font-size: 65px;}
  h2 { font-size: 60px; }
}

@media (min-width: 1000px) {
  .grid { grid-template-columns: repeat(3, minmax(280px, 1fr)); }
  .container { width: 100ch; margin-left: auto; margin-right: auto; }
  .banner { margin: 1em; text-align: center;}
  h1 { font-size: 65px;}
  h2 { font-size: 60px; }
}

